body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, auto);
}

.highlights {
  grid-column: 3/11;
  grid-row: 3/4;
  padding-top: 3rem;
}

.highlights-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlights-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  list-style-type: none;
  font-size: smaller;
}

.main-nav ul li {
  white-space: nowrap;
}
.main-nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
}

.main-nav a:hover {
  background-color: #F4Ce14;
  color: black;
}

header {
  grid-column: 3/11;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-column: 1/13;
  grid-row: 2/3;
}

footer {
  grid-column: 1/13;
  grid-row: 6/7;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #3d4341;
  margin-top: 1rem;
}

.footer-container {
  grid-column: 3/11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  color: white;
}

footer ul {
  list-style-type: none;
}

#heroimage {
  border-radius: 16px;
  position:absolute;
  top:6rem;
  right:18%;

}

.hero {
  background-color: #495E57;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 2rem;
}

.hero-content {
  grid-column: 3/11;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: space-between;
  padding-bottom: 4rem;
}

h1 {
  font-family: 'markazi text';
  font-size: 2.5rem;
}

.hero h1 {
  color: #F4CE14;
}

.hero-text {
  grid-column: 1/4;
}

.hero-text p {
  color: white;
}

.hero-text h2 {
  color: white;
  font-size: 1.5rem;
}

.highlights {
  grid-column: 3/11;
}

.specials-card {
  background-color: #c0c0c0bd;
  border-radius: 16px;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 23rem;
  width: 15rem;
}

.highlights-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}