body {
  margin: 0;
}

h1 {
  font-family: 'markazi text';
  font-size: 2.5rem;
}

h2 {
  font-family: 'markazi text';
  font-size: 2rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header img {
  align-self: center;
}

header {
  grid-column: 3/11;
}

.highlights {
  grid-column: 1/13;
  padding-top: 4rem;
}

.highlights h1 {
  grid-column: 3/7;
}

.highlights button {
  grid-column: 9/11;
  height: 2rem;
  align-self: center;
}

.highlights-cards {
  grid-column: 3/11;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-nav {
  grid-column: 3/13;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  list-style-type: none;
  font-size: smaller;
}

.main-nav ul li {
  white-space: nowrap;
}
.main-nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
}

.main-nav a:hover {
  background-color: #F4Ce14;
  color: black;
}

main {
  background-color: #495E57;
  padding-bottom: 3rem;
  grid-column: 1/13;
}

.hero {
  grid-column: 3/6;
}

footer {
  grid-column: 1/13;
  background-color: #3d4341;
  margin-top: 1rem;
}

.footer-container {
  grid-column: 3/11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  color: white;
}

footer ul {
  list-style-type: none;
}

#heroimage {
  border-radius: 16px;
  position:absolute;
  top:6rem;
  right:18%;

}

h1 {
  font-family: 'markazi text';
  font-size: 2.5rem;
}

.hero h1 {
  color: #F4CE14;
  margin-bottom: 0rem;
}

.hero-text {
  grid-column: 1/4;
}

.hero-text p {
  color: white;
}

.hero-text h2 {
  color: white;
  font-size: 1.5rem;
  margin-top: 0rem;
}

.specials-card {
  background-color: #c0c0c0bd;
  border-radius: 16px;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22em;
  width: 14em;
  grid-column: span 4;
  box-shadow: #495E57 0px 0px 8px 0px;
}

.specials-card-icon {
  width: 1em;
  height: 1em;
  margin-left: 1rem;
}

.specials-card a {
  text-decoration: none;
  color: black;
}

.specials-card-description {
  margin-bottom: 1rem;
}

.testimonials {
  grid-column: 1/13;
  background-color: #F4CE14;
  padding: 2rem 0;
}

.testimonials h2 {
  grid-column: 3/11;
  justify-self: center;
}

.testimonials-container {
  grid-column: 3/11;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-box {
  background-color: #c0c0c0bd;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 22em;
  height: 15em;
  margin: 4px;
}

.about-container {
  grid-column: 1/13;
  padding-top: 1.5rem;
}

.about-text {
  grid-column: 3/7;
}

.about-text h2 {
  margin-top: 0rem;
}

.about-text h1 {
  margin-bottom: 0rem;
}

.about-images {
  grid-column: 7/11;
}

@media  screen and (max-width: 768px) {
  header {
    grid-column: 1/13;
  }
  header img {
    grid-column: 1/13;
    justify-self: center;
  }

  .main-nav {
    grid-column: 1/13;
    justify-self: center;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
  }

  .hero-text {
  grid-column: 2/9;
  }

  .highlights h1 {
    grid-column: 2/12;
  }
  .highlights button {
    grid-column: 2/12;
  }
  .highlights-cards {
    grid-column: 2/12;
    flex-direction: column;
    align-items: center;
  }

  #heroimage {
    position: absolute;
    top: 7.5rem;
    right: 5%;
    width: 25%;
    height: auto;
    justify-self: center;
  }
  footer ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .testimonials-container {
    flex-wrap: wrap;
  }
  
  .about-text {
    grid-column: 2/12;
    justify-self: center;
  }
}